@charset "utf-8";

@import url("./reset.css");

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");


html {
    font-family: Pretendard Variable;
}

/* 로고 타이틀 숨기기 */
.t_hidden {
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* header */
header {
    width: 100%;
    height: 80px;
    position: relative;
    z-index: 100;
}

.header_i {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 110px;
}

.header_i img {
    max-width: 280px;
    width: 100%;
}

.header_i .ham {
    display: none;
}

.header_i .ham i {
    font: 32px;
}

nav {
    width: 466px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
}

nav .menu {
    height: 50px;
    display: flex;
}

nav .menu>li {
    width: 116px;
    text-align: center;
    line-height: 50px;
    transition: 0.3s;
}

nav .submenu {
    display: none;
}

nav .submenu li {
    transition: 0.3s;
    background-color: #313A43;
    color: #fff;
}

nav li a {
    display: block;
}

nav .menu>li a:hover {
    color: #7FC241;
}

nav .submenu li a:hover {
    color: #7FC241;
}

/* ham */
.ham_menu {
    width: 350px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -350px;
    background-color: #7FC241;
    padding: 85px 0px 0px 10px;
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
}

.ham_menu .close {
    position: absolute;
    top: 30px;
    right: 24px;
    font-size: 2rem;
}

.ham_menu .m_menu>li {
    width: 100%;
    line-height: 40px;
    margin-top: 20px;
    border-bottom: 1px solid #fff;
}

.m_menu .submenu>li {
    line-height: 50px;
    font-size: 16px;
    font-weight: normal;
}

.m_menu .submenu {
    height: 0;
    overflow: hidden;
}

.m_menu>li:hover {
    transition-duration: 0.5s;
}

.m_menu>li:hover .submenu {
    height: 150px;
    transition-duration: 1s;
}

.m_menu>li:hover .a {
    height: 350px;
    transition-duration: 1s;
}

/* //ham */

/* //header */

/* main */
main {
    padding: 0 26px;
}

main .mbox {
    max-width: 1700px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    margin-bottom: 160px;
}

main .mbox picture img {
    width: 100%;
    border-radius: 30px;
    margin: auto;
}

main .mbox picture {
    margin: auto;
}

main .mbox h2 {
    font-size: 3.75vw;
    font-weight: 900;
    color: #7FC241;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* //main */


/* section */

section {
    text-align: center;
}

section h2 {
    font-size: 3.8vw;
    font-weight: 900;
    color: #7FC241;
    margin-bottom: 100px;
}

section h2 span {
    color: #000;
}

section .title h3 {
    font-size: 2.1vw;
    font-weight: 700;
    margin-bottom: 80px;
}

section .title .t1 {
    font-size: 1.2vw;
    margin-bottom: 70px;
}

section .title .t1_m {
    display: none;
}

section .title .t1 p {
    margin-bottom: 10px;
}

section .title .t1 p:first-child {
    font-weight: 700;
}

section .title .t1 p:last-child {
    margin-bottom: 0;
}

section .title .t2 {
    font-size: 24px;
    margin-bottom: 200px;
}

section .title .t2_m {
    display: none;
}

section .title .t2 p {
    margin-bottom: 10px;
}

section .title .t2 p:last-child {
    margin-bottom: 0;
}

section .items {
    padding: 0 110px;
}

section .items .full {
    max-width: 1500px;
    width: 100%;
    margin: auto;
}

section .items .item {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

section .items .item:last-child {
    margin-bottom: 270px;
}

section .items .item figure {
    max-width: 738px;
    width: 100%;
    margin-right: 24px;
}

section .items .item .t3 {
    max-width: 738px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

section .items .item .t3 h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

section .items .item .t3 h3 span {
    color: #7FC241;
}

section .items .item .t3 .t4 p {
    font-size: 24px;
    margin-top: 10px;
}

section .items .item:nth-child(2) {
    flex-direction: row-reverse;
}

section .items .item:nth-child(2) .t3 {
    text-align: right;
}

section .items .item:nth-child(2) figure {
    margin-right: 0px;
    margin-left: 24px;
}

section .items .item:last-child .t4 p:nth-child(4) {
    letter-spacing: -0.2px;
}

/* //section */

/* top_icon */
.topbtn {
    position: fixed;
    font-size: 72px;
    bottom: 100px;
    right: 32px;
}

/* //top_icon */


/* footer */
footer {
    max-width: 1920px;
    width: 100%;
    height: 300px;
    background-color: #313A43;
    color: #fff;
}

footer .left {
    float: left;
    margin-top: 50px;
    margin-left: 110px;
}

footer .left .box01 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 30px;
}

footer .left .box01 span a:last-child {
    margin-right: 23px;
}

footer .left .box02 span {
    margin-bottom: 10px;
    display: block;
}

footer .right {
    float: right;
    margin-top: 50px;
    margin-right: 110px;
}

footer .right .box03 {
    margin-bottom: 20px;
}

footer .right .box03 span {
    display: block;
}

footer .right .box03 span:first-child {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 5px;
}

footer .right .box03 span:nth-child(2) {
    font-size: 2.5rem;
    font-weight: 900;
    color: #7FC241;
    margin-bottom: 10px;
}

footer .right .box03 .t1 p {
    margin-bottom: 7px;
}

footer .right .box03 .t1 p:last-child {
    margin-bottom: 0px;
}

footer .right .icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* //footer */


/* 반응형 분기점 */
@media screen and (max-width:1200px) {

    /* header */
    .header_i {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 24px;
    }

    .header_i nav .menu {
        display: none;
    }

    .header_i .ham {
        display: block;
        font-size: 32px;
        cursor: pointer;
    }

    .header_i .m_menu i {
        font-size: 36px;
    }

    /* //header */


    /* main */
    main {
        padding: 0 24px;
    }

    main .mbox {
        max-width: 1152px;
        width: 100%;
        margin-bottom: 130px;
    }

    main .mbox h2 {
        font-size: 6vw;
        font-weight: 900;
    }

    /* //main */

    /* section */

    section {
        text-align: center;
    }

    section h2 {
        font-size: 5.3vw;
        font-weight: 900;
        color: #7FC241;
        margin-bottom: 100px;
    }

    section h2 span {
        color: #000;
    }

    section .title h3 {
        font-size: 3.3vw;
        font-weight: 700;
        margin-bottom: 80px;
    }

    section .title .t1 {
        font-size: 2vw;
        margin-bottom: 70px;
    }

    section .title .t1 p {
        margin-bottom: 10px;
    }

    section .title .t1 p:first-child {
        font-weight: 700;
    }

    section .title .t1 p:last-child {
        margin-bottom: 0;
    }

    section .title .t2 {
        font-size: 2vw;
        margin-bottom: 150px;
    }

    section .title .t2 p {
        margin-bottom: 10px;
    }

    section .title .t2 p:last-child {
        margin-bottom: 0;
    }

    section .items {
        padding: 0 24px;
    }

    section .items .full {
        max-width: 1152px;
        width: 100%;
        margin: auto;
    }

    section .items .item {
        display: flex;
        justify-content: center;
        margin-bottom: 180px;
    }

    section .items .item:last-child {
        margin-bottom: 250px;
    }

    section .items .item figure {
        max-width: 48vw;
        width: 100%;
        margin-right: 16px;
    }

    section .items .item .t3 {
        max-width: 48vw;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
    }

    section .items .item .t3 h3 {
        font-size: 3.3vw;
        font-weight: 700;
        line-height: 50px;
    }

    section .items .item .t3 h3 span {
        color: #7FC241;
    }

    section .items .item .t3 .t4 p {
        font-size: 1.5vw;
        margin-top: 10px;
    }

    section .items .item:nth-child(2) {
        flex-direction: row-reverse;
    }

    section .items .item:nth-child(2) .t3 {
        text-align: right;
    }

    section .items .item:nth-child(2) figure {
        margin-right: 0px;
        margin-left: 16px;
    }

    section .items .item:last-child .t4 p:nth-child(4) {
        letter-spacing: -0.2px;
    }

    /* //section */

    /* top_icon */
    .topbtn {
        position: fixed;
        font-size: 6vw;
        bottom: 100px;
        right: 0px;
    }

    /* footer */
    footer {
        max-width: 1200px;
        width: 100%;
        height: 280px;
        background-color: #313A43;
        color: #fff;
    }

    footer .left {
        float: left;
        margin-top: 40px;
        margin-left: 24px;
    }

    footer .left .box01 {
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 30px;
    }

    footer .left .box01 span a:last-child {
        margin-right: 23px;
    }

    footer .left .box02 span {
        margin-bottom: 10px;
        display: block;
    }

    footer .right {
        float: right;
        margin-top: 40px;
        margin-right: 24px;
    }

    footer .right .box03 {
        margin-bottom: 20px;
    }

    footer .right .box03 span {
        display: block;
    }

    footer .right .box03 span:first-child {
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 5px;
    }

    footer .right .box03 span:nth-child(2) {
        font-size: 2.5rem;
        font-weight: 900;
        color: #7FC241;
        margin-bottom: 10px;
    }

    footer .right .box03 .t1 p {
        margin-bottom: 7px;
    }

    footer .right .box03 .t1 p:last-child {
        margin-bottom: 0px;
    }

    footer .right .icon {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* //footer */
}

@media screen and (max-width:991px) {

    .header_i {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 24px;
    }

    header {
        width: 100%;
        height: 80px;
        position: relative;
        z-index: 100;
    }

    /* main */
    main {
        padding: 0 20px;
    }

    main .mbox {
        max-width: 951px;
        width: 100%;
    }

    main .mbox h2 {
        font-size: 6vw;
        font-weight: 900;
    }

    /* //main */

    section {
        text-align: center;
    }

    section h2 {
        font-size: 5.3vw;
        font-weight: 900;
        color: #7FC241;
        margin-bottom: 80px;
    }

    section h2 span {
        color: #000;
    }

    section .title h3 {
        font-size: 3.3vw;
        font-weight: 700;
        margin-bottom: 70px;
    }

    section .title .t1 {
        font-size: 2vw;
        margin-bottom: 60px;
    }

    section .title .t1 p {
        margin-bottom: 10px;
    }

    section .title .t1 p:first-child {
        font-weight: 700;
    }

    section .title .t1 p:last-child {
        margin-bottom: 0;
    }

    section .title .t2 {
        font-size: 2vw;
        margin-bottom: 150px;
    }

    section .title .t2 p {
        margin-bottom: 10px;
    }

    section .title .t2 p:last-child {
        margin-bottom: 0;
    }

    section .items {
        padding: 0 20px;
    }

    section .items .full {
        max-width: 991px;
        width: 100%;
        margin: auto;
    }

    section .items .item {
        display: flex;
        justify-content: center;
        margin-bottom: 160px;
    }

    section .items .item:last-child {
        margin-bottom: 250px;
    }

    section .items .item figure {
        max-width: 48vw;
        width: 100%;
        margin-right: 16px;
    }

    section .items .item .t3 {
        max-width: 48vw;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
    }

    section .items .item .t3 h3 {
        font-size: 3.3vw;
        font-weight: 700;
        line-height: 40px;
    }

    section .items .item .t3 h3 span {
        color: #7FC241;
    }

    section .items .item .t3 .t4 p {
        font-size: 1.5vw;
        margin-top: 7px;
    }

    section .items .item:nth-child(2) {
        flex-direction: row-reverse;
    }

    section .items .item:nth-child(2) .t3 {
        text-align: right;
    }

    section .items .item:nth-child(2) figure {
        margin-right: 0px;
        margin-left: 16px;
    }

    section .items .item:last-child .t4 p:nth-child(4) {
        letter-spacing: -0.2px;
    }

    /* //section */
}

@media screen and (max-width:767px) {
    header {
        width: 100%;
        height: 9.85vw;
        position: relative;
        z-index: 100;
    }

    .header_i {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 24px;
    }

    /* main */
    main {
        padding: 0 24px;
    }

    main .mbox {
        max-width: 719px;
        width: 100%;
        margin-bottom: 80px;
    }

    main .mbox h2 {
        font-size: 7.5vw;
        font-weight: 900;
    }

    /* //main */


    /* section */
    section {
        text-align: center;
    }

    section h2 {
        font-size: 5.3vw;
        font-weight: 900;
        color: #7FC241;
        margin-bottom: 70px;
    }

    section h2 span {
        color: #000;
    }

    section .title h3 {
        font-size: 3.3vw;
        font-weight: 700;
        margin-bottom: 60px;
    }

    section .title .t1 {
        font-size: 2vw;
        margin-bottom: 50px;
    }

    section .title .t1 p {
        margin-bottom: 10px;
    }

    section .title .t1 p:first-child {
        font-weight: 700;
    }

    section .title .t1 p:last-child {
        margin-bottom: 0;
    }

    section .title .t2 {
        font-size: 2vw;
        margin-bottom: 130px;
    }

    section .title .t2 p {
        margin-bottom: 10px;
    }

    section .title .t2 p:last-child {
        margin-bottom: 0;
    }

    section .items {
        padding: 0 20px;
    }

    section .items .full {
        max-width: 767px;
        width: 100%;
        margin: auto;
    }

    section .items .item {
        display: flex;
        justify-content: center;
        margin-bottom: 130px;
    }

    section .items .item:last-child {
        margin-bottom: 200px;
    }

    section .items .item figure {
        max-width: 48vw;
        width: 100%;
        margin-right: 16px;
    }

    section .items .item .t3 {
        max-width: 48vw;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
    }

    section .items .item .t3 h3 {
        font-size: 3.3vw;
        font-weight: 700;
        line-height: 30px;
    }

    section .items .item .t3 h3 span {
        color: #7FC241;
    }

    section .items .item .t3 .t4 p {
        font-size: 1.5vw;
        margin-top: 7px;
    }

    section .items .item:nth-child(2) {
        flex-direction: row-reverse;
    }

    section .items .item:nth-child(2) .t3 {
        text-align: right;
    }

    section .items .item:nth-child(2) figure {
        margin-right: 0px;
        margin-left: 16px;
    }

    section .items .item:last-child .t4 p:nth-child(4) {
        letter-spacing: -0.2px;
    }

    /* //section */

    /* top_icon */
    .topbtn {
        position: fixed;
        font-size: 6vw;
        bottom: 100px;
        right: 0px;
    }

    /* //top_icon */

    /* footer */
    footer {
        max-width: 767px;
        width: 100%;
        height: 280px;
        background-color: #313A43;
        color: #fff;
    }

    footer .left {
        float: left;
        margin-top: 40px;
        margin-left: 20px;
    }

    footer .left .box01 {
        font-size: 2.3vw;
        font-weight: 700;
        margin-bottom: 30px;
    }

    footer .left .box01 span a:last-child {
        margin-right: 15px;
    }

    footer .left .box02 span {
        margin-bottom: 10px;
        font-size: 1.8vw;
        display: block;
    }

    footer .right {
        float: right;
        margin-top: 40px;
        margin-right: 24px;
    }

    footer .right .box03 {
        margin-bottom: 20px;
    }

    footer .right .box03 span {
        display: block;
    }

    footer .right .box03 span:first-child {
        font-size: 2.3vw;
        font-weight: 700;
        margin-bottom: 5px;
    }

    footer .right .box03 span:nth-child(2) {
        font-size: 4vw;
        font-weight: 900;
        color: #7FC241;
        margin-bottom: 10px;
    }

    footer .right .box03 .t1 p {
        margin-bottom: 7px;
        font-size: 1.8vw;
    }

    footer .right .box03 .t1 p:last-child {
        margin-bottom: 0px;
    }

    footer .right .icon {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* //footer */
}

@media screen and (max-width:575px) {
    .header_i {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 16px;
    }

    header {
        width: 100%;
        height: 57.55px;
        position: relative;
        z-index: 100;
    }

    main {
        padding: 0 16px;
    }

    main .mbox {
        max-width: 543px;
        width: 100%;
        margin-bottom: 60px;
    }

    main .mbox picture img {
        width: 100%;
        border-radius: 15px;
        margin: auto;
    }

    main .mbox h2 {
        font-size: 11vw;
        font-weight: 900;
    }

    /* section */
    section {
        text-align: center;
    }

    section h2 {
        font-size: 8vw;
        font-weight: 900;
        line-height: 60px;
        color: #7FC241;
        margin-bottom: 50px;
    }

    section h2 span {
        color: #000;
    }

    section .title h3 {
        font-size: 4.2vw;
        font-weight: 700;
        margin-bottom: 40px;
    }

    section .title .t1 {
        font-size: 2.7vw;
        margin-bottom: 40px;
    }

    section .title .t1 p {
        margin-bottom: 10px;
    }

    section .title .t1 p:first-child {
        font-weight: 700;
    }

    section .title .t1 p:last-child {
        margin-bottom: 0;
    }

    section .title .t2 {
        font-size: 2.7vw;
        margin-bottom: 100px;
    }

    section .title .t2 p {
        margin-bottom: 10px;
    }

    section .title .t2 p:last-child {
        margin-bottom: 0;
    }

    section .items {
        padding: 0 20px;
    }

    section .items .full {
        max-width: 767px;
        width: 100%;
        margin: auto;
    }

    section .items .item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 130px;
    }

    section .items .item:last-child {
        margin-bottom: 200px;
    }

    section .items .item figure {
        max-width: 100vw;
        width: 100%;
        margin-right: 0px;
    }

    section .items .item .t3 {
        max-width: 100vw;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        margin-top: 15px;
    }

    section .items .item .t3 h3 {
        font-size: 5.5vw;
        font-weight: 700;
        line-height: 30px;
    }

    section .items .item .t3 h3 span {
        color: #7FC241;
    }

    section .items .item .t3 .t4 {
        margin-top: 15px;
    }

    section .items .item .t3 .t4 p {
        font-size: 3.1vw;
        margin-top: 7px;
    }

    section .items .item:nth-child(2) {
        flex-direction: column;
    }

    section .items .item:nth-child(2) .t3 {
        text-align: right;
    }

    section .items .item:nth-child(2) figure {
        margin-right: 0px;
        margin-left: 0px;
    }

    section .items .item:last-child .t4 p:nth-child(3) {
        letter-spacing: -0.3px;
    }

    section .items .item:last-child .t4 p:nth-child(4) {
        letter-spacing: -0.5px;
    }

    /* //section */

    /* top_icon */
    .topbtn {
        position: fixed;
        font-size: 72px;
        bottom: 20px;
        right: 0px;
        z-index: 100;
    }

    /* //top_icon */

    /* footer */
    footer {
        max-width: 575px;
        width: 100%;
        height: 450px;
        background-color: #313A43;
        color: #fff;
    }

    footer .items {
        display: flex;
        align-items: center;
        flex-flow: column-reverse;
        text-align: center;
    }

    footer .items .right {
        margin-top: 52.5px;
        margin-right: 0px;
    }

    footer .items .right .box03 {
        margin-bottom: 20px;
    }

    footer .items .right .box03 span {
        display: block;
        font-size: 4.8vw;
        font-weight: 700;
        margin-bottom: 5px;
    }

    footer .items .right .box03 span:nth-child(2) {
        font-size: 7.6vw;
        font-weight: 900;
        color: #7FC241;
        margin-bottom: 10px;
    }

    footer .items .right .box03 .t1 p {
        margin-bottom: 7px;
        font-size: 2.8vw;
    }

    footer .items .right .box03 .t1 p:last-child {
        margin-bottom: 20px;
    }

    footer .items .right .icon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 230px;
        width: 100%;
        margin-bottom: 0px;
        margin: auto;
    }

    footer .items .left {
        margin-top: 30px;
        margin-left: 0px;
    }

    footer .items .left .box01 {
        width: 330px;
        font-size: 3.5vw;
        font-weight: 700;
        /* margin-bottom: 30px; */
    }

    footer .items .left .box01 span {
        margin-right: 0px;
        float: left;
    }

    footer .items .left .box01 span:last-child {
        float: right;
    }

    footer .items .left .box01 span a {
        margin-right: 0px;
    }

    footer .items .left .box02 {
        margin-top: 50px;
    }

    footer .items .left .box02 span {
        font-size: 2.8vw;
        ;
        margin-bottom: 7px;
        display: block;
    }

    footer .items .left .box02 span:last-child {
        margin-bottom: 0px;
    }


    /* //footer */
}

@media screen and (max-width:430px) {
    header {
        width: 100%;
        height: 12.3vw;
        position: relative;
        z-index: 100;
    }

    .header_i {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 16px;
    }

    main {
        padding: 0 16px;
    }

    main .mbox {
        max-width: 398px;
        width: 100%;
        margin-bottom: 60px;
    }

    main .mbox picture img {
        width: 100%;
        border-radius: 15px;
        margin: auto;
    }

    main .mbox h2 {
        font-size: 11vw;
        font-weight: 900;
    }

    /* section */
    section {
        text-align: center;
    }

    section h2 {
        font-size: 8vw;
        font-weight: 900;
        line-height: 40px;
        color: #7FC241;
        margin-bottom: 50px;
    }

    section h2 span {
        color: #000;
    }

    section .title h3 {
        font-size: 4.8vw;
        font-weight: 700;
        margin-bottom: 40px;
    }

    section .title .t1 {
        font-size: 2.7vw;
        margin-bottom: 40px;
    }

    section .title .t1 p {
        margin-bottom: 10px;
    }

    section .title .t1 p:first-child {
        font-weight: 700;
    }

    section .title .t1 p:last-child {
        margin-bottom: 0;
    }

    section .title .t2 {
        font-size: 2.7vw;
        margin-bottom: 100px;
    }

    section .title .t2 p {
        margin-bottom: 10px;
    }

    section .title .t2 p:last-child {
        margin-bottom: 0;
    }

    section .items {
        padding: 0 20px;
    }

    section .items .full {
        max-width: 430px;
        width: 100%;
        margin: auto;
    }

    section .items .item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 130px;
    }

    section .items .item:last-child {
        margin-bottom: 200px;
    }

    section .items .item figure {
        max-width: 100vw;
        width: 100%;
        margin-right: 0px;
    }

    section .items .item .t3 {
        max-width: 100vw;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        margin-top: 10px;
    }

    section .items .item .t3 h3 {
        font-size: 5.5vw;
        font-weight: 700;
        line-height: 30px;
    }

    section .items .item .t3 h3 span {
        color: #7FC241;
    }

    section .items .item .t3 .t4 {
        margin-top: 10px;
    }

    section .items .item .t3 .t4 p {
        font-size: 3.1vw;
        margin-top: 7px;
    }

    section .items .item:nth-child(2) {
        flex-direction: column;
    }

    section .items .item:nth-child(2) .t3 {
        text-align: right;
    }

    section .items .item:nth-child(2) figure {
        margin-right: 0px;
        margin-left: 0px;
    }

    section .items .item:first-child .t4 p:nth-child(3) {
        letter-spacing: -0.1px;
    }

    section .items .item:last-child .t4 p:nth-child(1) {
        letter-spacing: -0.5px;
    }

    section .items .item:last-child .t4 p:nth-child(3) {
        letter-spacing: -0.5px;
    }

    section .items .item:last-child .t4 p:nth-child(4) {
        letter-spacing: -0.7px;
    }

    /* top_icon */
    .topbtn {
        position: fixed;
        font-size: 64px;
        bottom: 20px;
        right: 0px;
    }

    /* //top_icon */

    /* footer */
    footer {
        max-width: 430px;
        width: 100%;
        height: 450px;
        background-color: #313A43;
        color: #fff;
    }

    footer .items {
        display: flex;
        align-items: center;
        flex-flow: column-reverse;
        text-align: center;
    }

    footer .items .right {
        margin-top: 70px;
        margin-right: 0px;
    }

    footer .items .right .box03 {
        margin-bottom: 20px;
    }

    footer .items .right .box03 span {
        display: block;
        font-size: 4.7vw;
        font-weight: 700;
        margin-bottom: 5px;
    }

    footer .items .right .box03 span:nth-child(2) {
        font-size: 7.4vw;
        font-weight: 900;
        color: #7FC241;
        margin-bottom: 10px;
    }

    footer .items .right .box03 .t1 p {
        margin-bottom: 7px;
        font-size: 2.8vw;
    }

    footer .items .right .box03 .t1 p:last-child {
        margin-bottom: 20px;
    }

    footer .items .right .icon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 210px;
        margin-bottom: 0px;
        margin: auto;
    }

    footer .items .left {
        margin-top: 30px;
        margin-left: 0px;
    }

    footer .items .left .box01 {
        width: 250px;
        font-size: 3.5vw;
        font-weight: 700;
    }

    footer .items .left .box01 span {
        margin-right: 0px;
        float: left;
    }

    footer .items .left .box01 span:last-child {
        float: right;
    }

    footer .items .left .box01 span a {
        margin-right: 0px;
    }

    footer .items .left .box02 {
        margin-top: 20px;
    }

    footer .items .left .box02 span {
        font-size: 2.8vw;
        ;
        margin-bottom: 7px;
        display: block;
    }

    footer .items .left .box02 span:last-child {
        margin-bottom: 0px;
    }
}

@media screen and (max-width:360px) {
    header {
        width: 100%;
        height: 12.3vw;
        position: relative;
        z-index: 100;
    }

    .header_i {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 16px;
    }

    main {
        padding: 0 16px;
    }

    main .mbox {
        max-width: 360px;
        width: 100%;
        margin-bottom: 60px;
    }

    main .mbox picture img {
        width: 100%;
        border-radius: 15px;
        margin: auto;
    }

    main .mbox h2 {
        font-size: 11vw;
        font-weight: 900;
    }

    /* section */
    section {
        text-align: center;
    }

    section h2 {
        font-size: 8vw;
        font-weight: 900;
        line-height: 40px;
        color: #7FC241;
        margin-bottom: 40px;
    }

    section h2 span {
        color: #000;
    }

    section .title h3 {
        font-size: 4.8vw;
        font-weight: 700;
        margin-bottom: 30px;
    }

    section .title .t1 {
        font-size: 2.7vw;
        margin-bottom: 30px;
    }

    section .title .t1 p {
        margin-bottom: 10px;
    }

    section .title .t1 p:first-child {
        font-weight: 700;
    }

    section .title .t1 p:last-child {
        margin-bottom: 0;
    }

    section .title .t2 {
        font-size: 2.7vw;
        margin-bottom: 100px;
    }

    section .title .t2 p {
        margin-bottom: 10px;
    }

    section .title .t2 p:last-child {
        margin-bottom: 0;
    }

    section .items {
        padding: 0 16px;
    }

    section .items .full {
        max-width: 360px;
        width: 100%;
        margin: auto;
    }

    section .items .item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 100px;
    }

    section .items .item:last-child {
        margin-bottom: 200px;
    }

    section .items .item figure {
        max-width: 100vw;
        width: 100%;
        margin-right: 0px;
    }

    section .items .item .t3 {
        max-width: 100vw;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        margin-top: 10px;
    }

    section .items .item .t3 h3 {
        font-size: 5.5vw;
        font-weight: 700;
        line-height: 20px;
    }

    section .items .item .t3 h3 span {
        color: #7FC241;
    }

    section .items .item .t3 .t4 {
        margin-top: 10px;
    }

    section .items .item .t3 .t4 p {
        font-size: 3.1vw;
        margin-top: 5px;
    }

    section .items .item:nth-child(2) figure {
        margin-right: 0px;
        margin-left: 0px;
    }

    /* top_icon */
    .topbtn {
        position: fixed;
        font-size: 64px;
        bottom: 20px;
        right: 0px;
    }

    /* //top_icon */

    /* footer */
    footer {
        max-width: 360px;
        width: 100%;
        height: 400px;
        background-color: #313A43;
        color: #fff;
    }

    footer .items {
        display: flex;
        align-items: center;
        flex-flow: column-reverse;
        text-align: center;
    }

    footer .items .right {
        margin-top: 60px;
        margin-right: 0px;
    }

    footer .items .right .box03 {
        margin-bottom: 20px;
    }

    footer .items .right .box03 span {
        display: block;
        font-size: 5.6vw;
        font-weight: 700;
        margin-bottom: 5px;
    }

    footer .items .right .box03 span:nth-child(2) {
        font-size: 8.8vw;
        font-weight: 900;
        color: #7FC241;
        margin-bottom: 10px;
    }

    footer .items .right .box03 .t1 p {
        margin-bottom: 7px;
        font-size: 3.35vw;
    }

    footer .items .right .box03 .t1 p:last-child {
        margin-bottom: 20px;
    }

    footer .items .right .icon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 210px;
        margin-bottom: 0px;
        margin: auto;
    }

    footer .items .left {
        margin-top: 30px;
        margin-left: 0px;
    }

    footer .items .left .box01 {
        width: 250px;
        font-size: 4.2vw;
        font-weight: 700;
    }

    footer .items .left .box01 span {
        margin-right: 0px;
        float: left;
    }

    footer .items .left .box01 span:last-child {
        float: right;
    }

    footer .items .left .box01 span a {
        margin-right: 0px;
    }

    footer .items .left .box02 {
        margin-top: 20px;
    }

    footer .items .left .box02 span {
        font-size: 3.35vw;
        ;
        margin-bottom: 7px;
        display: block;
    }

    footer .items .left .box02 span:last-child {
        margin-bottom: 0px;
    }
}